@page "/admin"

<div class="body_panel">
	<div class="panel">
		<h3>АВТОРИЗАЦИЯ</h3>
		<div>
			<input type="text" placeholder="Введите логин">
			<input type="text" placeholder="Введите пароль">
			<NavLink class="nav-link" href="adminpanel">
				<button type="submit">ВОЙТИ</button>
			</NavLink>
		</div>
	</div>
</div>

