@page "/DK"
@attribute [StreamRendering]

<PageTitle>Декоротивные кустарники-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="DK">
        <div>
            <h3>Декоротивные кустарники (страница в разработке)</h3>
        </div>

    </div>
</div>