@page "/DM"
@attribute [StreamRendering]

<PageTitle>Домашний мёд-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="DM">
        <div>
            <h3>Домашний мёд (страница в разработке)</h3>
        </div>

    </div>
</div>