<div class="filter">
    <button class="filter-btn">ФИЛЬТР</button>
    <div class="filter-dropdown">
        <label>
            <input type="checkbox" name="filter" class="filter-option" />
            Фильтр 1
        </label>
        <label>
            <input type="checkbox" name="filter" class="filter-option" />
            Фильтр 2
        </label>
        <label>
            <input type="checkbox" name="filter" class="filter-option" />
            Фильтр 3
        </label>
        <label>
            <input type="checkbox" name="filter" class="filter-option" />
            Фильтр 4
        </label>
    </div>
</div>