@page "/"

<PageTitle>Home</PageTitle>
<div class="Top">
	<div class="ByCompany">
		<div class="info">
			<div class="text-btn">
				<h3>ИЗ ЛУКОШКИНО<br />С ЛЮБОВЬЮ</h3>
				<p>Наш маленький семейный питомник специализируется на выращивании экологически чистых и здоровых саженцев декоративных кустарников, рассады однолетних и многолетних цветов .Также для вас предлагаем Натуральный мед с нашей семейной пасеки и оригинальные вкусные травяные сборы для приготовления чая  по доступным ценам.</p>
				<button type="submit" asp-host="www.google.com/maps?ll=48.8584,2.2945" asp-protocol="https">К КАТАЛОГУ<img src="Vector1.png"/></button>
			</div>
			<div class="Photo">
				<img src="Photo1.png" />
			</div>
		</div>
	</div>
	<div class="Catalog">
		<div class="butgrup">
			<lukoshkino.Components.Layout.NavMenu />
		</div>
	</div>
</div>


