@page "/Kartochka"


<div class="kart">
	<img src="prev.png" />
	<h3>3000</h3>
	<p class="name">Назание растения</p>
	<p>Описание Описание Описание Описание Описание Описание </p>
</div>


@code {
	
}
