@page "/Kartochka"


<div class="kart">
	<img src="prev.png" />
	<h3>@Product.Price</h3>
	<p class="name">@Product.Name</p>
	<p>@Product.Description</p>
</div>


@code {
	[Parameter]
	public Product Product { get; set; }
}
