@page "/M"
@rendermode InteractiveServer

<PageTitle>Многолетники-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="Mnogolet">
        <div>
            <h3>Многолетники (страница в разработке)</h3>
        </div>
        
    </div>
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
