@page "/dispatch"

<PageTitle>Оформление-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="catalog">
        <div class="top_catalog">
            <div class="menu">
                <h3>ОФОРМЛЕНИЕ</h3>
            </div>
        </div>
        <div class="laine"></div>
        <div class="promo">
            <div class="body_img">
                <img src="prev.png" />
                <img src="prev.png" />
                <img src="prev.png" />
            </div>
            <h3 class="text_adress">Мои адреса</h3>
            <div>
                <LineAdress></LineAdress>
            </div>
            <div class="input_phone">
                <h3>Номер телефона</h3>
                <input type="text"/>
            </div>
            <button>ПЕРЕЙТИ К ОПЛАТЕ</button>
        </div>
        <div class="footer"></div>
    </div>
</div>



@code {

}
