@page "/featured"

<PageTitle>Избранное-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="catalog">
        <div class="top_catalog">
            <div class="menu">
                <h3>Избранное</h3>
            </div>
        </div>
        <div class="laine"></div>
        <div class="promo">
            <h3>Здесь будут отображатся избранные товары</h3>
        </div>
        <div class="footer"></div>
    </div>
</div>

@code {

}
