@page "/account"
@layout MainLayout

<PageTitle>Личный кабинет-Из лукошкино с любовью</PageTitle>
<div class="Top">
    <div class="account">
        <div class="top_account">
            <div class="menu">
                <h3>ПРОФИЛЬ</h3>
                <div class="menu_btn">
                    <button>Вход в АдминПанель</button>
                </div>
            </div>
        </div>
        <div class="laine"></div>
        <div class="body_account">
            <div class="avatar">
                <img src="account.png" />
                <button>изменить</button>
            </div>
            <div class="info">
                <PersonalData></PersonalData>
                
            </div>
            
        </div>
        
    </div>
    <div class="futor1"></div>
</div>