@page "/account"
@layout MainLayout
@attribute [Authorize(Roles = "Admin, User")]
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

<PageTitle>Личный кабинет-Из лукошкино с любовью</PageTitle>
<div class="Top">
    <div class="account">
        <div class="top_account">
            <div class="menu">
                <h3>ПРОФИЛЬ</h3>
                <AuthorizeView>
                    <Authorized>
                        <div class="menu_btn">
                            <button>Вход в АдминПанель</button>
                        </div>
                    </Authorized>
                    
                </AuthorizeView>
                    
                
            </div>
        </div>
        <div class="laine"></div>
        <div class="body_account">
            <div class="avatar">
                <img src="account.png" />
                <button>изменить</button>
            </div>
            <div class="info">
                <PersonalData></PersonalData>
                
            </div>
            
        </div>
        
    </div>
    <div class="futor1"></div>
</div>