*{
    margin: 0;
}

body { 
}

.body_cat {
    display:flex;
    width: 100%;

}
    .avatar{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .avatar img {
        margin-top: 3vh;
        width:250px;
        height:250px;
        border-radius:20px;
        border:2px solid #ffffff;
    }
    .body_cat p{
        font-size:24px;
        color:white;
        margin: 1.5vh 0 0 1vw;
    }

    .bloc_body{
        display:flex;
        flex-direction:column;
        width: 85%;
    }

    .bloc_data, .bloc_adrass{
        display:flex;
        flex-direction:column;
        margin: 3vh 0 0 2vw;
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(90deg, #233f2b, #407759);
    }
        .adress_btn, .line_adress{
            display:flex;
            margin:1.5vh 1vw 1.5vh 1vw;
        }
        .line_adress{
            flex-direction:column;
        }
            .adress_btn h3{
                color:white;
                font-size:24px;
            }
            .adress_btn button {
                margin: 0 0 0 auto;
                width: 150px;
                height: 25px;
                border: none;
                border-radius: 5px;
                background-color: #F1B24A;
                font-size: 14px;
                color: white;
            }
        .bloc_info{
            display:flex;
        }
        .text p{
            font-size: 20px;
        }
    .input_bar, .btn_bloc{
        display:flex;
        flex-direction: column;
    }
    .input_bar{
        width:80%;
    }

        .input_bar input {
            border-radius: 5px;
            border:none;
            background: rgb(99,128,95, 0.5);
            margin: 1.6vh 1vw 0 1vw;
            color: white;
            padding-inline-start: 10px;
        }

        .btn_bloc img {
            margin: 2.1vh 0 0 1vw;
        }
.futor{
    height: 20px;
}