

<div class="body_cat">
    <p>Персональные данные</p>
    <div class="bloc">
        <div class="text">
            <p>ФИО</p>
            <p>Дата рождения</p>
            <p>Номер телефона</p>
            <p>Email</p>
        </div>
        <div class="input_bar">
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
        </div>
        <div class="btn_bloc">
            <img src="pan orang.png" />
            <img src="pan orang.png" />
            <img src="pan orang.png" />
            <img src="pan orang.png" />
        </div>

    </div>
    <div class="futor"></div>
</div>
