@page "/account"
@layout MainLayout
@attribute [Authorize(Roles = "Admin, User")]

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager


<PageTitle>Личный кабинет-Из лукошкино с любовью</PageTitle>
<div class="Top">
    <div class="account">
        <div class="top_account">
            <div class="menu">
                <h3>ПРОФИЛЬ</h3>
                <div class="menu_btn">
                @if (HttpContext.User.IsInRole("Admin"))
                {
                        <NavLink href="/admin/edit-goods" class="menu_btn" style="text-decoration: none;">
                                <button>Вход в АдминПанель</button>
                        </NavLink>
                } 
                        <NavLink href="/logout" style="text-decoration: none;">
                            <button>Выйти из аккаунта</button>
                        </NavLink>
                </div>

            </div>
        </div>
        <div class="laine"></div>
        <PersonalData User=@_userManager.GetUserAsync(HttpContext.User).Result></PersonalData>
        <div class="body_account">
            <div class="info">
                
            </div>
            
        </div>
        
    </div>
    <div class="futor1"></div>
</div>

@code{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
}