

<div class="body_cat">
    <p>Персональные данные</p>
    <div class="bloc">
        <div class="text">
            <p>Фамилия</p>
            <p>Имя</p>
            <p>Отчество</p>
            <p>Дата рождения</p>
            <p>Номер телефона</p>
            <p>Email</p>
        </div>
        <div class="input_bar">
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
            <input type="date" @bind-value=User.BirthDate lang="ru" />
            <input type="text" placeholder="" />
            <input type="text" placeholder="" />
        </div>

    </div>
    <div class="futor"></div>
</div>

@code{
    ApplicationUser User { get; set; } = new ApplicationUser();
}
