@page "/login"

<div class="body_panel">
	<div class="panel">
		<h3>АВТОРИЗАЦИЯ</h3>
		<div>
			<form method='post'>
				<p>
					<input name='email' placeholder="Введите логин"/>
				</p>
				<p>
					<input type='password' name='password' placeholder="Введите пароль"/>
				</p>
				<input type='submit' value='Войти'/>
			</form>
		</div>
	</div>
</div>


@code
{

}

