body {
    padding:0px;
    margin:0px;
}

.body_panel {
    display: flex;
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
        .panel {
            display:flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            
        }
            .avtorizaciya {
                margin-top: 1vw;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 350px;
                color: white;
                font-size: clamp(16px, 2vw, 24px);
                background-color: #F1B24A;
                border-radius: 10px;
            }
            .avtorizaciya h3{
                margin: 10px;
            }
.editform {
    display: flex;
    justify-content: center;

}
    .input{
        display: flex;
        margin-top: 30px;
    }
        .log_pas_text{
            margin-right:30px;
            text-align: center;
            width: 200px;
            height: 40px;
            background-color: rgb(16,55,50, 0.4);
            border-radius: 10px;
            color: white;
            font-size: 24px;
        }
            .log_pas_text h3{
                margin: 10px;
            }

.panel button {
    padding: 0px;
    margin-top: 4vh;
    margin-left: 36%;
    width: 10.5vw;
    height: 4.5vh;
    border:none;
    border-radius: 10px;
    background-color: #F1B24A;
    font-size: clamp(10px, 2vw, 24px);
    color: white;
}
.no-password {
    margin-top: 5px;
    text-align: center;
    width: 10.5vw;
    height: 25px;
    background-color: rgb(16,55,50, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
