@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="body_panel">
    <div class="panel">
        <div class="avtorizaciya">
            <h3>Авторизация</h3>
        </div>
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="loginForm" class="editform">
            <div class="input">
                <div class="log_pas_text">Логин</div>
                <InputText @bind-Value="loginModel.Login" placeholder="" class="custom-input" @attributes="GetInputAttributes()" />
            </div>
            <div class="input">
                <div class="log_pas_text">Пароль</div>
                <InputText @bind-Value="loginModel.Password" placeholder="" type="password" class="input-text" />
            </div>
            <div>
            <button type="submit">Войти</button>
            </div>
        </EditForm>
        <div class="no-password">не помню пароль</div>
    </div>  
</div>

@code
{
    private Dictionary<string, object> GetInputAttributes()
    {
        return new Dictionary<string, object>
        {
            { "class", "custom-input" }
        };
    }
    private VM_Authorization loginModel = new();

    private async Task HandleLogin()
    { 
        using(var db = new ApplicationContext())
        {
            if (loginModel.Authorize(out var user))
            {
                var authStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
                await authStateProvider.MarkUserAsAuthenticated(user);

                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                Console.WriteLine($"User authenticated: {authState.User.Identity.IsAuthenticated}");
                Navigation.NavigateTo("/");
            }
            else
            {
                Navigation.NavigateTo("/login");
            }
        }
        
    }
}
