body {
    padding:0;
    margin:0;
}

.kart {
    display:flex;
    flex-direction:column;
    position:relative;
    margin: 40px 0 0 30px;
    width: 250px;
    height: 350px;
    background: linear-gradient(0deg, #223E2A, #3F7758);
    border-radius: 20px;
}
    .img-kart{
        width: 200px;
        height: 173px;
        border-radius: 10px 10px 0 0;
        margin: 30px 30px 0 30px;
    }

    h3, p{
        margin: 10px 30px 0 30px;
        color:white;
    }
    h3{
        font-size:20px;
    }
    p{
        font-size: 8px;
    }
    .name{
        font-size:16px;
    }

.but {
    display: flex;
    justify-content: center; /* по горизонтали */
    margin: auto 0 10px 0;

}
button {

    padding: 0px;
    background-color: rgb(255, 255, 255, 0.25);
    border: 0;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    width: 200px;
    height: 30px;
    font-size: 16px;
}
    button img {
        width: 20px;
    }

.like {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background:none;
}
    .like img{
        width: 30px;
        height: 30px;
    }