@inject NavigationManager Navigation
@inject IDbContextFactory<ApplicationContext> DbFactory
@inject IdentityUserAccessor _userAccessor;
@inject ApplicationContext _context;

@rendermode RenderMode.InteractiveServer

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />



<div class="body_otziv">
	<div class="img_name">
        <img src="@ImageData" />
		<p>@nick</p>
	</div>
	<div class="text_otziv">
		<p>@Feedback.Text</p>
	</div>
</div>

@code {
    [Parameter]
    public Feedback Feedback { get; set; }
    private string nick { get; set; } = "Гость";
    public string ImageData { get; set; } = "/account.png";
    private List<ToastMessage> messages = [];

    protected override async Task OnParametersSetAsync()
    {
        // Если пользователь не подгружен, загружаем его вручную
        if (Feedback != null && Feedback.User == null)
        {
            await using var context = DbFactory.CreateDbContext();
            Feedback.User = await context.Users.FindAsync(Feedback.UserId);
        }

        // Определяем имя пользователя
        if (Feedback?.User != null && !string.IsNullOrEmpty(Feedback.User.Name))
        {
            nick = $"{Feedback.User.Surname} {Feedback.User.Name}".Trim();

        }
        else
        {
            nick = "Гость";
        }
        if (Feedback?.User?.FileId != null)
        {
            await LoadUserImageAsync();
        }
    }
    private async Task LoadUserImageAsync()
    {
        await using var context = DbFactory.CreateDbContext();
        var file = await context.Files.FindAsync(Feedback.User.FileId);

        if (file?.Path != null)
        {
            string imageBase64 = Convert.ToBase64String(file.Path);
            ImageData = $"data:image/jpeg;base64,{imageBase64}";
        }
    }
   
}