
<div class="kart">
	<img class="img-kart" src="prev.png" />
	<h3>@Product.Price</h3>
	<p class="name">@Product.Name</p>
	<div class="but">
		<button><img src="basket.png"> В КОРЗИНУ</button>
	</div>
	
</div>


@code {
	[Parameter]
	public Product Product { get; set; }
}
