@page "/Catalog"
@attribute [StreamRendering]

<PageTitle>Каталог-Из лукошкино с любовью</PageTitle>

<div class="Top">
    <div class="catalog">
        <div class="top_catalog">
            <div class="menu">
                <h3>Каталог</h3>
                <div class="menu_filtr">
                    <div>
                        <Filter />
                        <Filter />
                    </div>

                </div>
            </div>
        </div>
       <div class="laine"></div>
        <div class="promo">
            <h3>(страница в разработке)</h3>
        </div>

    </div>
</div>