@rendermode RenderMode.InteractiveServer
@inject NavigationManager Navigation

<label>
    <input type="checkbox" checked="@IsChecked" name="filter" class="filter-option" @oninput="CheckboxChanged" />
    @Category.Name
</label>

@code{

    [Parameter]
    public Category Category { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    private void CheckboxChanged(ChangeEventArgs e)
    {
        // get the checkbox state
        bool value = (bool)e.Value;
        if (value)
        {
            Filter.FilterCategories.Add(Category);
        }
        else
        {
            Filter.FilterCategories.RemoveAll(x => x.Id == Category.Id);
        }

        string catsURL = "";

        if(Filter.FilterCategories .Count > 0)
        {
            foreach (var cat in Filter.FilterCategories)
            {
                catsURL += cat.Id.ToString() + '&';
            }
            catsURL = catsURL.Substring(0, catsURL.Length - 1);


        }

        Navigation.NavigateTo("catalog/" + catsURL, true);
    }
}