@inject IDbContextFactory<ApplicationContext> DbFactory


<div class="filter">
    <button class="filter-btn">ФИЛЬТР</button>
    <div class="filter-dropdown">
        @foreach(var category in GetCategories())
        {
            <FilterElement Category=@category/>
        }
    </div>
</div>

@code{
    public List<Category> GetCategories()
    {
        using (var dc = DbFactory.CreateDbContext())
        {
            return dc.Categories.ToList();
        }
    }
}