@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer
@inject IDbContextFactory<ApplicationContext> DbFactory
@inject IdentityUserAccessor _userAccessor;
@inject IJSRuntime JSRuntime

<div>
	<div class="div0">
		<div class="div1">
			<img src="point.svg" style="margin-right: 0.4vw;width: 30px;height: 20px;" />
			<h5 class ="textHeadK" >Канаш</h5>
			<h5 class="textHead">Пн - Вс с 9:00 до 20:00</h5>
		</div>
		<div class="div2">
			<h5 class="textHead" id="nick" >@nick</h5>
			<h5 class="textHead">+7(903)-389-60-18</h5>
		</div>
	</div>
	<div class="body_Nav">
		<div class="Nav">
			<NavLink href="/" style="text-decoration: none;">
				<div class="Lable">
					<img class="ingLable" src="lable.svg"/><h3 class="labletext">домашнее<br /> хозяйство</h3>
				</div>
			</NavLink>
			<form class="Ponsk">
				<button type="submit" @onclick=ProductSearch><img src="poisk.png" /></button><input type="text" placeholder="Найдите то что вам нужно" @bind="searchQuery"/>
			</form>
			<div class="ButBar">
				<button @onclick="RedirectToAccount">
					<img src="prof.png" />
					<h3>ПРОФИЛЬ</h3>
				</button>

				<button @onclick=RedirectToFeatured>
					<img src="serdc.png" />
					<h3>ИЗБРАННОЕ</h3>
				</button>
				<button @onclick=RedirectToBasket>
					<img src="korz.png" />
					<h3>КОРЗИНА</h3>
				</button>
				<button style=" border-radius: 0 0 10px 10px; background: #F1B24A;" @onclick="ShowSupportChat">
					<img src="help.png" />
				</button>
				<SupportChat @ref="supportChat" Message="Это всплывающее окно!" OnClose="OnSupportChatClose" />

			</div>
		</div>
	</div>
</div>

@code
{

	private ApplicationUser _user;

	private string nick { get; set; } = "Гость";

	

	protected override async Task OnInitializedAsync()
	{
		_user = await _userAccessor.GetCurrentUserAsync();
		if (_user != null && !string.IsNullOrEmpty(_user.Name))
		{
			nick = _user.Name;
		}
		else
		{
			nick = "Гость";
			
		}
		
	}

	void RedirectToAccount()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/account", true);
	}

	void RedirectToFeatured()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/featured", true);
	}

	void RedirectToBasket()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/basket", true);
	}

	private string searchQuery { get; set; } = "";

	void ProductSearch()
	{
		if (string.IsNullOrWhiteSpace(searchQuery))
		{
			return;
		}
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo($"/catalog?search={Uri.EscapeDataString(searchQuery)}", true);
	}

	private SupportChat supportChat { get; set; }

	private void ShowSupportChat()
	{
		supportChat.Show();
	}

	private void OnSupportChatClose(bool isVisible)
	{
		// Логика после закрытия (если нужна)
	}

}

