
body {
    position: relative;
    display: flex;

}
.nav-link {
    padding:0;
    text-decoration: none !important;  /*Обязательно используйте !important, чтобы переопределить существующие стили */
}

    .div1 img {
        margin-right: 0.4vw;
        width: 30px;
        height: 20px
    }

.textHead {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
    display: inline;
}
.textHeadK {
    margin: 0;
    padding: 0;
    margin-right: 2.5vw;
    color: white;
    font-size: 1em;
    display: inline;
}
.div0 {
    background-color: #07231F;
    overflow: hidden;
}

.div1 {
    display: flex;
    align-items: center;
    float: left;
    margin: 1vh 0 1vh 12vw;
}
.div2 {
    float: right;
    margin: 1vh 12vw 1vh 0;
}
.body_Nav {
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
.Nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12vw 0 12vw;
}
    .nav-link{
        padding:0;
    }
    .Lable {
        display:flex;
        margin-top: 4vh;
        align-items: center;
    }
        .ingLable {
            width: 75px;
            height: 75px;
            display: inline;
        }
.labletext {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: inline;
}
    .Ponsk {
        margin-top: 4vh;
        margin-left: 5.2vw;
        display: flex;
    }

        .Ponsk input {
            display: inline;
            padding-inline: 30px;
            width: 420px;
            height: 75px;
            font-size: 20px;
            border: 1px solid #FFFFFF;
            border-radius: 0 30px 30px 0;
            outline: none;
            background: none;
            color: #FFFFFF;
            box-shadow: inset 3px 4px 80px 0px #EAE6E6;
        }

        input::-webkit-input-placeholder {
            color: #FFFFFF;
        }

        .Ponsk button {
            display: inline;
            padding: 0px;
            width: 100px;
            height: 75px;
            border: none;
            outline: none;
            background: #FFFFFF;
            border-radius: 30px 0 0 30px;
            align-items: center;
            justify-content: center;

        }
        .ButBar {
            display: flex;
            margin-left: auto; 
            justify-content: center;
        }
            .ButBar div, .btn_mid {
                background: none;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 1vw;
                width: 100px;
                height: 140px;
                text-align: center;
            }
                .ButBar div img, .btn_mid  img{
                    width: 42px;
                    margin-top: 4vh;
                }
                .ButBar div h3, .btn_mid h3 {
                    margin-top: 2vh;
                    font-size: 16px;
                    color: white;
                }
.regist {
    display: flex;
    justify-content:center;
    height:40px;
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
    .regist button{
        margin-top: 10px;
        font-size: 16px;
        color:white;
    }

@media(max-width:1610px) {
    .div1 {
        margin: 1vh 0 1vh 8vw;
    }
    .div2 {
        float: right;
        margin: 1vh 8vw 1vh 0;
    }
    .ButBar{
        margin-left: auto;

    }
        .Nav {
        margin: 0 8vw 0 8vw;
        justify-content: center;
    }
    .Lable {
        flex-direction: column;
    }
}

@media(max-width:1335px) {
    .ButBar {
        margin: 0;
        margin-top: 2vw;
        justify-content: center;
    }

}

@media(max-width:1024px){
    .div1 {
        margin: 1vh 0 1vh 2vw;
    }

    .div2 {
        float: right;
        margin: 1vh 2vw 1vh 0;
    }
}

