<main>
    <div class="div0">
    <div class="div1">
        <img src="point.svg" />
        <h5 class ="textHeadK" >Канаш</h5>
        <h5 class="textHead">Пн - Вс с 9:00 до 20:00</h5>
    </div>
    <div class="div2">
        <h5 class="textHead">+7(903)-389-60-18</h5>
    </div>
    </div>
	<div class="body_Nav">
		<div class="Nav">
			<NavLink class="nav-link" href="">
			<div class="Lable">
					<img class="ingLable" src="lable.svg" /><h3 class="labletext">домашнее<br /> хозяйство</h3>
			</div>
			</NavLink>
			<div class="Ponsk">
				<form>
					<button type="submit"><img src="poisk.png" /></button><input type="text" placeholder="Найтите то что вам нужно">
				</form>
			</div>
			<div class="ButBar">
				<div>
					<img src="Phone.svg" />
					<h3>ТЕЛЕФОН</h3>
				</div>
				<div class="divemail">
					<img src="email.svg" />
					<h3>ПОЧТА</h3>
				</div>
			</div>
		</div>
	</div>
</main>