@inject BlazorBootstrap.ModalService ModalService

<main>
    <div class="div0">
    <div class="div1">
        <img src="point.svg" />
        <h5 class ="textHeadK" >Канаш</h5>
        <h5 class="textHead">Пн - Вс с 9:00 до 20:00</h5>
    </div>
    <div class="div2">
        <h5 class="textHead">+7(903)-389-60-18</h5>
    </div>
    </div>
	<div class="body_Nav">
		<div class="Nav">
			<NavLink href="/" style="text-decoration: none;">
			<div class="Lable">
					<img class="ingLable" src="lable.svg"/><h3 class="labletext">домашнее<br /> хозяйство</h3>
			</div>
			</NavLink>
				<form class="Ponsk">
					<button type="submit"><img src="poisk.png" /></button><input type="text" placeholder="Найтите то что вам нужно">
				</form>
			<div class="ButBar">
				<!-- Кнопка-триггер модального окна -->
				<button type="button" class="btn_mid" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
					<img src="prof.png" />
					<h3>ПРОФИЛЬ</h3>
				</button>
				<NavLink href="" style="text-decoration: none;">
					<div>
						<img src="serdc.png" />
						<h3>ИЗБРАННОЕ</h3>
					</div>
				</NavLink>
				<NavLink href="" style="text-decoration: none;">
					<div>
						<img src="korz.png" />
						<h3>КОРЗИНА</h3>
					</div>
				</NavLink>
				<NavLink href="" style="text-decoration: none;">
					<div style=" border-radius: 0 0 10px 10px; background: #F1B24A;">
					<img src="help.png" />
				</div>
				</NavLink>
				
			</div>
		</div>
	</div>
</main>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
@* 			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
			</div> *@
			<div class="modal-body">
				<Authorization />
				<div class="regist">
				<button class="btn_mid" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Зарегестрироватся</button>
				</div>
			</div>
			@* <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary">Сохранить изменения</button>
			</div> *@
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<Registration />
			</div>
		</div>
	</div>
</div>

