<main>
    <div class="div0">
    <div class="div1">
        <img src="point.svg" />
        <h5 class ="textHeadK" >Канаш</h5>
        <h5 class="textHead">Пн - Вс с 9:00 до 20:00</h5>
    </div>
    <div class="div2">
        <h5 class="textHead">+7(903)-389-60-18</h5>
    </div>
    </div>
	<div class="body_Nav">
		<div class="Nav">
			<NavLink href="" style="text-decoration: none;">
			<div class="Lable">
					<img class="ingLable" src="lable.svg"/><h3 class="labletext">домашнее<br /> хозяйство</h3>
			</div>
			</NavLink>
				<form class="Ponsk">
					<button type="submit"><img src="poisk.png" /></button><input type="text" placeholder="Найтите то что вам нужно">
				</form>
			<div class="ButBar">
				<NavLink href="/login" style="text-decoration: none;">
					<div>
						<img src="prof.png" />
						<h3>ПРОФИЛЬ</h3>
					</div>
				</NavLink>
				<NavLink href="" style="text-decoration: none;">
					<div>
						<img src="serdc.png" />
						<h3>ИЗБРАННОЕ</h3>
					</div>
				</NavLink>
				<NavLink href="" style="text-decoration: none;">
					<div>
						<img src="korz.png" />
						<h3>КОРЗИНА</h3>
					</div>
				</NavLink>

				<div class="divhelp">
					<img src="help.png" />
				</div>
			</div>
		</div>
	</div>
</main>