@page "/"
@layout MainLayout
@inject IDbContextFactory<ApplicationContext> DbFactory
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer


<PageTitle>Главная-Из лукошкино с любовью</PageTitle>
<div class="Top">
	<div class="body_info">
		<div class="ByCompany">
			<div class="info">
				<div class="text-btn">
					<h3>ИЗ ЛУКОШКИНО<br />С ЛЮБОВЬЮ</h3>
					<p>@GetHomePageTitleText()</p>
					<NavLink @onclick="RedirectToCatalog" href="catalog" style="text-decoration: none;">
						<button type="submit" href="Catalog">К КАТАЛОГУ<img src="Vector1.png" /></button>
					</NavLink>

				</div>
				<div class="Photo">
					<img src="Photo1.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="body_Catalog">
		<div class="Catalog">
			<div class="butgrup">
				<NavMenu />
				<div class="lable_kart">
					<p>ПОПУЛЯРНЫЕ ТОВАРЫ</p>
				</div>
				<div class="kart">

					@foreach(var card in GetPopularProducts())
					{
						<CardGood Product="@card"/>
					}
				</div>
				<div class="lable_kart">
					<p>ВАМ МОЖЕТ ПОНРАВИТЬСЯ</p>
				</div>
				<div class="kart">

					@foreach (var card in GetLikeProducts())
					{
						<CardGood Product="@card" />
					}
				</div>
				<div class="lable_kart">
					<p>ОТЗЫВЫ</p>
				</div>
				<div class="kart">
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Катерина</p>
						</div>
						<div class="text_otziv">
							<p>
								Купила шалфей у данного продавца. Очень довольна. Огромный куст за 150р. Так ещё и привезли до дома. Однозначно буду покупать другие саженцы у вас!!! Благодарю.
							</p>
						</div>
					</div>
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Ирина Иванова</p>
						</div>
						<div class="text_otziv">
							<p>
								Саженцы очень хорошего качества, гортензия и лапчатка с бутонами. Всё понравилось, даже привезли в Чебоксары. Продавца рекомендую!!! Спасибо Вам!
							</p>
						</div>
					</div>
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Ольга Яковлева</p>
						</div>
						<div class="text_otziv">
							<p>Продавец замечательный, клиентоориентированный.К заказу был положен подарок. Это очень приятно!</p>
						</div>
					</div>
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Михаил</p>
						</div>
						<div class="text_otziv">
							<p>Отличный мёд, по хорошей цене. Вёз в подарок. Попросили чтобы в следующий раз ещё привёз</p>
						</div>
					</div>
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Полуэктова Карина</p>
						</div>
						<div class="text_otziv">
							<p>
								Приобрели с подругой несколько видов растений , довольны как ,,слоны,,☺️теперь будем обращаться только сюда☺️
							</p>
						</div>
					</div>
					<div class="body_otziv">
						<div class="img_name">
							<img src="account.png" />
							<p>Светлана</p>
						</div>
						<div class="text_otziv">
							<p>Очень хорошие цветы, корневая система развита хорошо. Рекомендую!</p>
						</div>
					</div>
					
				</div>
				<div class="foot"></div>
			</div>
		</div>
	</div>
</div>



@code
{
	List<Product> GetPopularProducts()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Products.Where(x => x.isPopular).ToList();
		}
	}

	List<Product> GetLikeProducts()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Products.Where(x => x.isLike).ToList();
		}
	}

	void RedirectToCatalog()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/catalog", true);
	}

	string GetHomePageTitleText()
	{
		using(var db = DbFactory.CreateDbContext())
		{
			return db.InterfaceTags.ToList().Find(x => x.Name == "ТекстНаГлавнойСтранице").Content;
		}
	}

}

	


