body {
    padding: 0;
}

.Top {
    width: 100%;
    
}
.body_info {
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
.ByCompany {
    margin: 0 12vw 0 12vw;
}
.body_Catalog {
    background: linear-gradient(90deg, #95AA72, #2F554A);
}
.Catalog {
    margin: 0 12vw 0 12vw;

    height: 84vh;
}
    .kart{
        display: flex;
    }

.info {
    width: 100%;
    display: flex;
}
.text-btn {
    width: 53%;
    margin: 5.2vh 0 0 0;
}
    .text-btn h3 {
        font-size: clamp(20px, 5vw, 64px);
        color: #FFFFFF;
    }

    .text-btn p {
        font-size: clamp(10px, 3vw, 20px);
        color: #FFFFFF;
    }
        .text-btn button {
            padding: 0px;
            margin-top: 30px;
            width: 400px;
            height: 80px;
            border: 4px solid #FFFFFF;
            border-radius: 0 40px 40px  0;
            background: none;
            font-size: 30px;
            font-weight: bolder;
            color: white;
        }
            .text-btn button img{
                margin-left: 20px;
                width:50px;
                height: 20px;
            }
.Photo {
    width: 47%;
}
    .Photo img {
        float: right;
        float: inline-end;
        width: 627px;
        height: 620px;

    }

@media(max-width:1440px){
    .info {
        flex-direction: column;
    }
    .text-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5.2vh 0 0 1.5vw;
        width: 95%;
    }
    .Photo {
        width: 100%;
        margin-top: 48px;
    }

    }
