body {
    padding: 0;
}

.Top {
    width: 100%;
    
}
.body_info {
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
.ByCompany {
    margin: 0 12vw 0 12vw;
}
.body_Catalog {
    background: linear-gradient(90deg, #95AA72, #2F554A);
}
.Catalog {
    margin: 0 12vw 0 12vw;
}
.lable_kart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 425px;
    height: 40px;
    background-color: rgb(16,55,50, 0.35);
    border-radius:10px;
    
}
    .lable_kart p{
        margin:0;
        font-size: 24px;
        color: white;
    }
    .kart{
        display: flex;
        flex-wrap: wrap;
    }

.info {
    width: 100%;
    display: flex;
}
.text-btn {
    width: 53%;
    margin: 5.2vh 0 0 0;
}
    .text-btn h3 {
        font-size: clamp(20px, 20vw, 64px);
        color: #FFFFFF;
    }

    .text-btn p {
        font-size: clamp(10px, 20vw, 20px);
        color: #FFFFFF;
    }
        .text-btn button {
            padding: 0px;
            margin-top: 30px;
            width: 400px;
            height: 80px;
            border: 4px solid #FFFFFF;
            border-radius: 0 40px 40px  0;
            background: none;
            font-size: 30px;
            font-weight: bolder;
            color: white;
        }
            .text-btn button img{
                margin-left: 20px;
                width:50px;
                height: 20px;
            }
.Photo {
    width: 47%;
}
    .Photo img {
        float: right;
        float: inline-end;
        width:100%;
    }
.body_otziv {
    display:flex;
    flex-direction:column;
    margin: 5vh 0 0 1vw;
    width: 450px;
    height: 250px;
    border-radius: 20px;
    background: rgb(16,55,50, 0.4);
}
    .img_name{
        margin:1vh 1vh 0 1vh;
        align-items:center;
        display:flex;
    }
        .img_name img{
            width:100px;
            height:100px;
            border-radius:10px;
            border: 2px solid #ffffff;
        }
        .img_name p{
            color:white;
            font-size:20px;
            margin-left:1vh;
        }
    .text_otziv{
        margin:1vh;
    }
        .text_otziv p{
            color:white;
            font-size: 14px;
        }


.foot {
    height: 5vw;
}

.but_all_otziv {
    display:flex;
    margin: 10px 20px 10px 20px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    background: rgb(16,55,50, 0.4);
    border:none;
    border-radius: 15px;
    color: white;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
}
.edit_otziv {
    margin: 40px 0 0 20px;
    display: flex;
    flex-flow: column;
    width: 450px;
}
    .edit_otziv textarea {
        border-radius: 15px;
        background: rgb(16,55,50, 0.4);
        color: white;
        width: 450px;
        height: 250px;
        padding:5px;
    }
    .edit_otziv button {
        padding: 0px;
        margin-top:10px;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        background: none;
        font-size: 20px;
        color: white;
    }
@media(max-width:1610px) {
        .ByCompany, .Catalog {
        margin: 0 8vw 0 8vw;
    }

        .text-btn h3 {
            font-size: clamp(20px, 20vw, 54px);
            color: #FFFFFF;
         }

    .text-btn p {
        font-size: clamp(12px, 20vw, 16px);
        color: #FFFFFF;
    }


    .text-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5.2vh 0 0 1.5vw;
        width: 95%;
    }

    .Photo {
        width: 100%;
        margin-top: 48px;
    }
}
@media(max-width:1024px){
        .ByCompany, .Catalog {
            margin: 0 2vw 0 2vw;
        }
        .info {
        flex-direction: column;
    }
        .Photo img {
        float: right;
        float: inline-end;
        width: 627px;
        height: 620px;
    }

}


