

<nav class="butgrup">
    <div class="btn-linc">
        <NavLink class="nav-link" href="catalog/2">
            <div>
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true">МНОГОЛЕТНИКИ</span>
            </div>
       </NavLink>
    </div>
    <div class="btn-linc">
        <NavLink class="nav-link" href="catalog/3">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true">ДЕКОРАТИВНЫЕ<br /></span>
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true">КУСТАРНИКИ</span>
        </NavLink>
    </div>
    <div class="btn-linc">
        <NavLink class="nav-link" href="catalog/4">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true">ДОМАШНИЙ МЁД</span>
        </NavLink>
    </div>

    <div class="btn-linc">
        <NavLink class="nav-link" href="catalog/5">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true">НАТУРАЛЬНЫЙ ЧАЙ</span>
        </NavLink>
    </div>
</nav>
