<div class="Futor">
	<div class="Lable">
		<img src="lable.svg" />
	</div>
	<div class="body_info">
		<div class="bloc">
			<h3 class="zagolovok">Товары</h3>
			<NavLink class="nav-link" href="Catalog">
				<h3>Многолетники</h3>
			</NavLink>
			<NavLink class="nav-link" href="Catalog">
			<h3>Декоративные кустарники</h3>
			</NavLink>
			<NavLink class="nav-link" href="Catalog">
			<h3>Домашний мёд</h3>
			</NavLink>
			<NavLink class="nav-link" href="Catalog">
			<h3>Натуральный чай</h3>
			</NavLink>

		</div>
		<div class="bloc">
			<h3 class="zagolovok">Контакты</h3>
			<h3>Телефон: +7(903)-389-60-18</h3>
			<h3>Email: suhan94@inbox.ru</h3>
			<h3>Чувашская республика, Канашский округ, д. Яманово</h3>
		</div>
		<div class="bloc">
			<h3 class ="zagolovok">Социальные сети</h3>
			<div class="QR">
				<img src="QR.png"/>
				<img src="QR.png" />
				<img src="QR.png" />
			</div>
		</div>
	</div>
</div>