body {
}

.Futor {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #07231F;
}
.Lable{
    margin-top: 4vh;
}
img {
    width: 80px;
    height: 80px;
}
.body_info {
    display: flex;
}
h3 {
    color: white;
    font-size: clamp(10px, 2vw, 16px);
}
.bloc, .bloc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 2vw 0 0;
}
.bloc1{
    margin-right: 4vw;
}

.zagolovok{
    margin-bottom: 3vh;
}
