body {
}

.Futor {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #07231F;
}
.Lable{
    margin-top: 4vh;
}
img {
    width: 80px;
    height: 80px;
}
.body_info{
    display: flex;
}

.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 2vw 0 0;
}

.zagolovok{
    margin-bottom: 3vh;
}
.QR {
    display: block;
}
    .body_info h3 {
        font-size: clamp(10px, 3vw, 16px);
        color: white;
    }