<div class="Futor">
	<div class="Line1">	</div>
	<div class="FutorMemu">
		<h3>Декоративные кустарники |</h3><h3>Домашний мед |</h3><h3>Натуральный чай |</h3><h3>Многолетники</h3>
	</div>
	<div class="Contakt">
		<h2>КОНТАКТЫ</h2>
		<h3>Телефон: +7(903)-389-60-18</h3>
		<h3>Email: suhan94@inbox.ru</h3>
		<h3>Чувашская республика, Канашский округ, д. Яманово</h3>
	</div>
	<div class="Line2">	</div>
</div>