

.body_panel {
    display: flex;
    min-height: 800px;
    background: linear-gradient(90deg, #2F554A, #95AA72);
}
    .panel{
        margin: 0 0 0 2vw;
        display:flex;
        width:100%;
    }
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    background: linear-gradient(180deg, #3F7758, #223E2A);
}
        .but1{
            margin-top: 20vh;
        }
.menu button {
    width: 80%;
    font-size: clamp(10px, 2vw, 24px);
    font-weight:normal;
    margin-bottom: 2vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(16,55,50, 0.4);
    color: white;
}
    .panel_body{
        width: 80%;
    }
    .panel h3 {
        margin: 3vh 0 0 5vw;
        color: white;
        font-size: clamp(10px, 2vw, 36px);
    }
