@* @page "/admin" *@
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

<div class="head-admin">
	<h3>Страница администратора</h3>
	<div class="head-admin-fio-btn">
		<h3>Фамилия Имя Отчество</h3>
		<NavLink href="/" style="text-decoration: none;">
			<button>Выход</button>
		</NavLink>
	</div>
</div>
<div class="body_panel">
	<div class="panel">
		<div class="menu">
			<button class="but1">Категории</button>
			<button >Товары</button>
			<button>Отзывы</button>
			<button>Теги</button>
		</div>
		<div class="panel_body">
			<EditCategories></EditCategories>
			<EditGoods></EditGoods>
			<EditTegs></EditTegs>

		</div>
	</div>
</div>
