@page "/admin"
@* @attribute [Authorize(Roles = "admin")] *@

<div class="body_panel">
	<div class="panel">
		<div class="menu">
			<button class="but1">Категории</button>
			<button>Товары</button>
			<button>Отзовы</button>
			<button>Теги</button>
		</div>
		<div class="panel_body">
			<h3>Страница в разработке</h3>
			<EditGoods />
			<EditGoodsOne />
		</div>
	</div>
</div>