.panel {
    display: flex;
    flex-direction: column;
    margin: 0 2vw 0 2vw;
    background-color: rgb(16,55,50, 0.4);
    border-radius: 10px;
}
    .panel h3{
        margin: 2vh 0 0 2vw;
        color: white;
        font-size: clamp(10px, 2vw, 24px);
    }

    .nav{
        margin-top: 2vh;
        display: flex;
    }
    .body_goods{
        margin: 4vh 2vw 0 2vw;
    }

    .futor{
        height:50px;
    }

.Ponsk {
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

    .Ponsk input {
        display: inline;
        padding-inline: 30px;
        width: 500px;
        height: 40px;
        font-size: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 0 10px 10px 0;
        outline: none;
        background: none;
        color: #FFFFFF;
        box-shadow: inset 3px 4px 80px 0px #EAE6E6;
    }

input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.Ponsk button {
    margin:0;
    display: inline;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 10px 0 0 10px;
    align-items: center;
    justify-content: center;
}
.Ponsk img{
    width: 25px;
    height:25px;
}

button {
    margin-left: 1vw;
    background-color:#F1B24A;
    color: white;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}