.panel {
    display: flex;
    flex-direction: column;
    margin: 1vw 2vw 1vw 2vw;
    background-color: rgb(16,55,50, 0.4);
    border-radius: 10px;
}

h3{
    margin: 4vh 2vw 0 2vw;
    font-size: 18px;
    color:white;
}
textarea {
    width: 100%;
    border-radius: 15px;
    background: rgb(16,55,50, 0.4);
    color: white;
    height: 250px;
    padding: 5px;
}
.body_feedback {
    margin: 4vh 2vw 0 2vw;
}
button {
    margin: 0 0 0 2vw;
    background-color: #F1B24A;
    color: white;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.footer {
    height: 50px;
}