<div class="panel">
	<button>Добавить фото</button>
	<div>
	</div>
	<h3>Название</h3>
	<input type="text" placeholder="">
	<h3>Описание</h3>
	<div class="opisaniye">
	<textarea name="description" rows="4" cols="50" placeholder=""></textarea>
	</div>
	<button>Сохранить</button>
	<div class="futor">
	</div>
</div>

@code {

}
