.panel {
    display: flex;
    flex-direction: column;
    margin: 1vw 2vw 1vw 2vw;
    background-color: rgb(16,55,50, 0.4);
    border-radius: 10px;
}

    .panel h3 {
        margin: 2vh 0 0 2vw;
        color: white;
        font-size: clamp(10px, 2vw, 24px);
    }
.footer{
    height:50px;
}