@page "/admin/edit-goods/{id:int}"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationContext> DbFactory
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer

<div class="panel">
	<h3 class="add_img_text">Добавить фото</h3>
	<div class="add_img">
		<InputFile class="form-control" id="photo" OnChange="@SingleUpload" @bind-Value="@ByteImageData" accept=".jpg,.jpeg,.png,.gif" style="width: 55vw;background-color: rgb(16,55,50, 0.5); border: 1px solid #FFFF; color: white" />
		<img src="@ImageData" height="173" width="200"/>
	</div>
	<EditForm Model="@Product" method="post" OnValidSubmit="SaveChanges" FormName="goodsEditForm">
		<h3>Название</h3>
		<div class="name_prod">
			<InputText placeholder="" style="width: 320px; height: 35px; background-color: rgb(147,168,113, 0.5); border: 1px solid #FFFF; padding-inline:10px; border-radius: 5px; color: white" @bind-Value=Product.Name />
		</div>
		<h3>Описание</h3>
		<div class="opisaniye">
			<InputTextArea name="description" rows="4" cols="50" placeholder="" style="width: 55vw; background-color: rgb(16,55,50, 0.5); border: 1px solid #FFFF; padding-inline:10px; border-radius: 5px; color: white" @bind-Value=Product.Description />
		</div>
		<div class="price">
			<InputNumber name="price" placeholder="" style="width: 55vw; background-color: rgb(16,55,50, 0.5); border: 1px solid #FFFF; padding-inline:10px; border-radius: 5px; color: white" @bind-Value=Product.Price />
		</div>
		<div class="check_box">
			<label>
				Популярное
			</label>
			<InputCheckbox name="isPopular" placeholder="" style="width: 17.5vw; border: 1px solid #FFFF; padding-inline:10px; border-radius: 5px; color: white" @bind-Value=Product.isPopular />
		</div>
		<div class="check_box">
			<label>
				Может понравиться
			</label>
			<InputCheckbox name="isPopular" placeholder="" style="width: 10vw; border: 1px solid #FFFF; padding-inline:10px; border-radius: 5px; color: white" @bind-Value=Product.isLike/>
		</div>
		<button type="submit">Сохранить</button>
	</EditForm>
	<div class="futor"></div>
</div>

@code {
	[Parameter]
	public int Id { get; set; } = 0;

	public Product? Product { get; set; } = new Product();

	public byte[] ByteImageData { get; set; }

	public string ImageData { get; set; } = "/prev.png";

	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() =>
		{
			using (var ac = DbFactory.CreateDbContext())
			{
				Product = ac.Products.Where(x => x.Id == Id).FirstOrDefault();
				Product_Photo product_Photo = ac.Product_Photos.FirstOrDefault(x => x.ProductId == Product.Id);
				if(product_Photo == null)
				{
					return;
				}
				BytesToImage(ac.Files.FirstOrDefault(x => x.Id == product_Photo.FileId).Path);
			}
		});
	}

	void SaveChanges()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			var editProduct = ac.Products.Where(x => x.Id == Id).FirstOrDefault();
			editProduct.Name = Product.Name;
			editProduct.Description = Product.Description;
			editProduct.Price = Product.Price;
			editProduct.isPopular = Product.isPopular;
			editProduct.isLike = Product.isLike;

			if(ByteImageData != null)
			{
				var result = ac.Files.Add(new File { Path = ByteImageData });
				var id = result.CurrentValues.GetValue<int>("Id");
				var pp = ac.Product_Photos.FirstOrDefault(x => x.ProductId == editProduct.Id);
				if(pp == null)
				{
					ac.Product_Photos.Add(new Product_Photo() { ProductId = editProduct.Id, FileId = id });
				}
				else
				{
					pp.FileId = id;
				}
			}

			ac.SaveChanges();
		}

		Navigation.NavigateTo("/admin/edit-goods");
	}

	private async Task SingleUpload(InputFileChangeEventArgs e)
	{
		MemoryStream ms = new MemoryStream();
		await e.File.OpenReadStream().CopyToAsync(ms);
		BytesToImage(ms.ToArray());
	}

	private void BytesToImage(byte[] arr)
	{
		ByteImageData = arr;
		string imagesrc = Convert.ToBase64String(ByteImageData);
		ImageData = string.Format("data:image/jpeg;base64,{0}", imagesrc);
	}
}
