<div class="panel">
	<h3>Редактировать товары</h3>
	<div class="nav">
		<div class="Ponsk">
			<form>
				<button type="submit"><img src="poisk.png" /></button><input type="text" placeholder="">
			</form>
		</div>
		<Filter />
		<button>Добавить новый товар</button>
	</div>
	<div class="body_goods">
		<LineGoods />
		<LineGoods />
		<LineGoods />
	</div>
	<div class="futor">
	</div>
</div>

@code {

}
