@page "/admin/edit-tags"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationContext> DbFactory
@inject IdentityRedirectManager RedirectManager

@rendermode RenderMode.InteractiveServer

<div class="panel">
	<h3>Редактировать теги</h3>
	<div class="nav">
@* 		<button class="ceate">Добавить новый тег</button> *@
	</div>
	<div class="body_tegs">
		<div class="tegs">
			@foreach (var tag in GetTags())
			{
				<LineTags Tag="@tag" />
			}
		</div>
		
	</div>
	<button class="save">Сохранить изменения</button>
	<div class="futor">
	</div>
</div>

@code {

	List<InterfaceTag> GetTags()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.InterfaceTags.ToList();
		}
	}
}
