<div class="panel">
	<button>добавить фото</button>
	<div>
		<input type="image" placeholder="">
	</div>
	<h3>название</h3>
	<input type="text" placeholder="">
	<h3>описание</h3>
	<input type="text" placeholder=""><br/>
	<button>добавить новый товар</button>
	<div class="futor">
	</div>
</div>

@code {

}
