@page "/admin/edit-feedback"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
@inject IDbContextFactory<ApplicationContext> DbFactory
@inject IdentityRedirectManager RedirectManager
@rendermode RenderMode.InteractiveServer
@inject NavigationManager Navigation

<div class="panel">
	<h3>Редактировать отзовы</h3>
	<div class="nav">
		<button class="ceate" @onclick="CreateNewFeedback">Добавить отзыв c авито</button>
	</div>
	<div class="body_goods">
		<div class="kart">
			@foreach (var feedback in GetFeedbacks())
			{
				<LineFeedback Feedback="@feedback" />
			}
		</div>
	</div>
	<div class="futor">
	</div>
</div>

@code {

	List<Feedback> GetFeedbacks()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Feedbacks.ToList();
		}
	}

	void CreateNewFeedback()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/admin/edit-onefeedback", true);
	}
}