@page "/admin/edit-users"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationContext> DbFactory
@rendermode RenderMode.InteractiveServer

<div class="panel">
    <h3>Редактировать пользователей</h3>
    <div class="body_user">
        @foreach (var user in GetUser())
        {
            <LineUser User="@user" />
        }
    </div>
    <div class="footer"></div>
</div>

@code {
    List<ApplicationUser> GetUser()
    {
        using (var ac = DbFactory.CreateDbContext())
        {
            return ac.Users.ToList();
        }
    }
}
