.panel {
    display: flex;
    flex-direction: column;
    margin: 1vw 2vw 1vw 2vw;
    background-color: rgb(16,55,50, 0.4);
    border-radius: 10px;
}

    .panel h3{
    margin: 2vh 0 0 2vw;
    color: white;
    font-size: clamp(10px, 2vw, 24px);
    }

.body_goods {
    margin: 4vh 2vw 0 2vw;
}
.nav {
    margin-top: 2vh;
    display: flex;
}
.ceate {
    margin: 0 0 0 2vw;
    background-color: #F1B24A;
    color: white;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.futor {
    height: 50px;
}