@inject IdentityRedirectManager RedirectManager
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer

<div class="line">
    <button class="name_product" @onclick="RedirectToEdit">@Product.Name</button>
    <button class="urna_btn"><img src="urna.png" /></button>
</div>


@code {

    void RedirectToEdit()
    {
        Navigation.NavigateTo($"/admin/editgoods/{Product.Id}");
    }

    [Parameter]
    public Product Product { get; set; }

}
