.line {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    min-height: 40px;
    background-color: rgb(99,128,95, 0.4);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    color: white;
}

.urna_btn {
    background: none;
    border: 0;
}

.line img {
    width: 30px;
    margin-right: 20px;
}


.name_product {
    width: 100%;
    margin-left: 3vw;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
}
.check_box{
    display:flex;
}
    .check_box label{
        margin-right:2vw;
    }
.confirmation-dialog p, .confirmation-dialog button{
    color:white;
    font-size:16px;
    margin-top: 10px;
}
.confirmation-dialog button {
    width: 100px;
    background-color: #F1B24A;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-right:20px;
}