<div class="line">
    <h3 class="name_teg">Тег</h3> 
    <p class="info_teg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit porttitor enim, tincidunt bibendum dolor euismod id. Proin maximus interdum mauris ut commodo. Ut suscipit porta blandit. Maecenas egestas felis ut lorem iaculis rutrum. Vestibulum auctor velit in augue sodales iaculis. Cras finibus, turpis vitae feugiat ullamcorper, leo felis tincidunt mauris, vel facilisis sem elit sed nunc. In mollis condimentum faucibus. Ut in blandit nisi, sed accumsan metus.</p>
    
</div>