@inject IdentityRedirectManager RedirectManager
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer
@inject IDbContextFactory<ApplicationContext> DbFactory

<div class="line">
    <p class="name_product">@Feedback.Text</p>
    <div class="check_box">
        <InputCheckbox name="isPopular" placeholder="" style="width: 2vw; border: 1px solid #FFFF; border-radius: 5px; color: white" Value="Feedback.isInHome" ValueChanged="OnIsInHomeChanged" ValueExpression="() => Feedback.isInHome" />
        <label>Отобразить на главной</label>
       
    </div>
    <button class="urna_btn" @onclick="DeleteFeedback"><img src="urna.png" /></button>
</div>


@code {
    [Parameter]
    public Feedback Feedback { get; set; }

    private async Task OnIsInHomeChanged(bool newValue)
    {
        Feedback.isInHome = newValue;
        await UpdateIsInHome(newValue);
    }

    private async Task UpdateIsInHome(bool? newValue)
    {
        if (newValue.HasValue)
        {
            using (var db = DbFactory.CreateDbContext())
            {
                var feedback = await db.Feedbacks.FindAsync(Feedback.Id);
                if (feedback != null)
                {
                    feedback.isInHome = newValue.Value;
                    await db.SaveChangesAsync();
                }
            }
        }
    }



    private async Task DeleteFeedback()
    {
        using (var db = DbFactory.CreateDbContext())
        {
            var feedback = await db.Feedbacks.FindAsync(Feedback.Id);
            if (feedback != null)
            {
                db.Feedbacks.Remove(feedback);
                await db.SaveChangesAsync();
            }
        }
        Navigation.NavigateTo("/admin/edit-feedback", forceLoad: true);
    }

}
