.line {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    min-height: 50px;
    background-color: rgb(99,128,95, 0.4);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    color: white;
}

input {
    margin-left: 1vw;
}

/* Скрываем изображения по умолчанию */
.icon img {
    height: 30px;
    margin-right: 1vw;
}

.icon {
    display: none;
    margin-left: auto;
}

/* Показываем изображения, когда чекбокс выбран */
input:checked ~ .icon {
    display: block;
}



