.line {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    min-height: 40px;
    background-color: rgb(99,128,95, 0.4);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    color: white;
}
.name_cat {
    width: 100%;
    min-height: 40px;
    margin-left: 3vw;
    background: none;
    border:0;

    text-align: left;
    font-size: 16px;
    color: white;
}
