.line {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2vh;
    width: 100%;

    min-height: 40px;
    background-color: rgb(99,128,95, 0.4);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    color: white;
}
.name_teg {
    margin:0 auto 0 3vw;
    background: none;
    border: 0;
    font-size: 16px;
    color: white;
}
