@inject IDbContextFactory<ApplicationContext> DbFactory
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer

<div class="line">
    <h3 class="name_teg">@Tag.Name</h3> 
    <InputText @bind-Value=Tag.Content class="info_teg" @bind-Value:after="SaveTag"/>
</div>

@code{
    [Parameter]
    public InterfaceTag Tag { get; set; }

    void SaveTag()
    {
        using (var ac = DbFactory.CreateDbContext())
        {
            var editTag = ac.InterfaceTags.Where(x => x.Id == Tag.Id).FirstOrDefault();
            editTag.Content = Tag.Content;

			ac.SaveChanges();
		}
    }
}