<div class="line">
    <label><input type="checkbox" name="filter" class="filter-option" /> Название товара</label>
    <div class="icon">
        <img src="karandash.png" class="karandash" />
        <img src="urna.png" class="urna" />
    </div>
</div>


@code {

}
