@inject IDbContextFactory<ApplicationContext> DbFactory
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer

<div class="line">
    <InputText @bind-Value=Category.Name class="name_cat" @bind-Value:after="SaveCategory" style="width: 100%;  min-height: 40px;  margin-left: 3vw;  background: none; border:0; color:white" />
    <button class="urna_btn" @onclick="DeleteCategory"><img src="urna.png" /></button>
</div>

@code {
    [Parameter]
    public Category Category { get; set; }


    // private ConfirmDialog dialog = new ConfirmDialog();

    void SaveCategory()
    {
        using (var ac = DbFactory.CreateDbContext())
        {
            var editCategory = ac.Categories.Where(x => x.Id == Category.Id).FirstOrDefault();
            editCategory.Name = Category.Name;

            ac.SaveChanges();
        }
    }

    async void DeleteCategory()
    {
        using (var db = DbFactory.CreateDbContext())
        {
            var productsOfCat = db.Products.Where(x => x.CategoryId == Category.Id).ToList();
            if(productsOfCat.Count == 0)
            {
                db.Categories.Remove(db.Categories.Find(Category.Id));
                db.SaveChanges();
            }
        }

        Navigation.NavigateTo("/admin/edit-categories", true);
    }
}
