@page "/admin/report"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
@inject IDbContextFactory<ApplicationContext> DbFactory
@rendermode RenderMode.InteractiveServer

<h3>Отчет</h3>

<button 
        class="btn btn-primary"
        @onclick="DownloadReport">
    Скачать отчет
</button>

@if (reportRows.Any())
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in reportRows)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Name</td>
                    <td>@row.Category</td>
                    <td>@row.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-3 text-muted">Отчет появится здесь</div>
}

@code {
    private List<ReportRow> reportRows = new();

    [Inject] NavigationManager Nav { get; set; } = default!;

    protected override void OnInitialized()
    {
        reportRows = GetReportData();
    }

    private void DownloadReport()
    {
        Console.WriteLine("ОТЧЕТ");
        Nav.NavigateTo("/api/report/download", forceLoad: true);
    }

    private List<ReportRow> GetReportData()
    {
        using (var ac = DbFactory.CreateDbContext())
        {
            return ac.Products.Select(x => new ReportRow() { Id = x.Id, Name = x.Name, Category = x.Category.Name, Quantity = x.Quantity }).ToList();
        }
    }

    private class ReportRow
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
        public string Category { get; set; } = "";
        public decimal Quantity { get; set; }
    }
}
